<%= form_for(@round) do |f| %>
  <% if @round.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@round.errors.count, "error") %> prohibited this round from being saved:</h2>

      <ul>
      <% @round.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :date %><br />
    <%= f.text_field :date %>
  </div>
  <div class="field">
    <%= f.label :score %><br />
    <%= f.text_field :score %>
  </div>
  <div class="field">
    <%= f.label :fairways %><br />
    <%= f.text_field :fairways %>
  </div>
  <div class="field">
    <%= f.label :greens %><br />
    <%= f.text_field :greens %>
  </div>
  <div class="field">
    <%= f.label :putts %><br />
    <%= f.text_field :putts %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
