<h1>Summer Rounds</h1>

<table>
  <tr>
    <th>Date</th>
	<th>Score</th>
    <th>Fairways</th>
    <th>Greens</th>
    <th>Putts</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @rounds.each do |round| %>
  <tr>
    <td><%= round.date %></td>
    <td><%= round.score %></td>
    <td><%= round.fairways %></td>
    <td><%= round.greens %></td>
    <td><%= round.putts %></td>
    <td><%= link_to 'Show', round %></td>
    <td><%= link_to 'Edit', edit_round_path(round) %></td>
    <td><%= link_to 'Destroy', round, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
<tr>
	<td style="border-top:5px solid black;"><b>AVERAGE</b></td>
	<td style="border-top:5px solid black;"><b><%= @scoring_average %></b></td>
	<td style="border-top:5px solid black;"><b><%= @fairways_average %></b></td>
	<td style="border-top:5px solid black;"><b><%= @greens_average %></b></td>
	<td style="border-top:5px solid black;"><b><%= @putts_average %></b></td>
</tr>
<tr>
	<td style="border-top:5px solid black;"><b>%</b></td>
	<td style="border-top:5px solid black;"></td>
	<td style="border-top:5px solid black;"><b><%= number_to_percentage(@fairways_percentage) %></b></td>
	<td style="border-top:5px solid black;"><b><%= number_to_percentage(@greens_percentage) %></b></td>
	<td style="border-top:5px solid black;"></td>
</tr>
</table>

<br />

<%= link_to 'New Round', new_round_path %>

